<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-asset-details-heading"
        data-cy="AssetDetailsCreateUpdateHeading"
        jhiTranslate="microApp.assetDetails.home.createOrEditLabel"
      >
        Create or edit a Asset Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="microApp.assetDetails.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.units" for="field_units">Units</label>
          <input type="number" class="form-control" name="units" id="field_units" data-cy="units" formControlName="units" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.balance" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.currentInvestedAmount" for="field_currentInvestedAmount"
            >Current Invested Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="currentInvestedAmount"
            id="field_currentInvestedAmount"
            data-cy="currentInvestedAmount"
            formControlName="currentInvestedAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.profitLoss" for="field_profitLoss">Profit Loss</label>
          <input
            type="number"
            class="form-control"
            name="profitLoss"
            id="field_profitLoss"
            data-cy="profitLoss"
            formControlName="profitLoss"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="microApp.assetDetails.updatedOn" for="field_updatedOn">Updated On</label>
          <div class="d-flex">
            <input
              id="field_updatedOn"
              data-cy="updatedOn"
              type="datetime-local"
              class="form-control"
              name="updatedOn"
              formControlName="updatedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
