<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="assetDetails">
      <h2 data-cy="assetDetailsDetailsHeading"><span jhiTranslate="microApp.assetDetails.detail.title">Asset Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="microApp.assetDetails.id">Id</span></dt>
        <dd>
          <span>{{ assetDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.units">Units</span></dt>
        <dd>
          <span>{{ assetDetails.units }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ assetDetails.unitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.balance">Balance</span></dt>
        <dd>
          <span>{{ assetDetails.balance }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.currentInvestedAmount">Current Invested Amount</span></dt>
        <dd>
          <span>{{ assetDetails.currentInvestedAmount }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.profitLoss">Profit Loss</span></dt>
        <dd>
          <span>{{ assetDetails.profitLoss }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.createdOn">Created On</span></dt>
        <dd>
          <span>{{ assetDetails.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetails.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ assetDetails.updatedOn | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-details', assetDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
