<div>
  <h2 id="page-heading" data-cy="InvestorHeading">
    <span jhiTranslate="microApp.investor.home.title">Investors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microApp.investor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-investor"
        [routerLink]="['/investor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microApp.investor.home.createLabel"> Create a new Investor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="investors?.length === 0">
    <span jhiTranslate="microApp.investor.home.notFound">No investors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="investors && investors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="microApp.investor.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="microApp.investor.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="microApp.investor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gender">
            <span jhiTranslate="microApp.investor.gender">Gender</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phone"><span jhiTranslate="microApp.investor.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addressLine1">
            <span jhiTranslate="microApp.investor.addressLine1">Address Line 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="addressLine2">
            <span jhiTranslate="microApp.investor.addressLine2">Address Line 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city"><span jhiTranslate="microApp.investor.city">City</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="microApp.investor.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="microApp.investor.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="portfolio.id">
            <span jhiTranslate="microApp.investor.portfolio">Portfolio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investor of investors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/investor', investor.id, 'view']">{{ investor.id }}</a>
          </td>
          <td>{{ investor.name }}</td>
          <td>{{ investor.email }}</td>
          <td jhiTranslate="{{ 'microApp.Gender.' + investor.gender }}">{{ investor.gender }}</td>
          <td>{{ investor.phone }}</td>
          <td>{{ investor.addressLine1 }}</td>
          <td>{{ investor.addressLine2 }}</td>
          <td>{{ investor.city }}</td>
          <td>{{ investor.country }}</td>
          <td>{{ investor.createdOn | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="investor.portfolio">
              <a [routerLink]="['/investor-portfolio', investor.portfolio?.id, 'view']">{{ investor.portfolio?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/investor', investor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/investor', investor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(investor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="investors && investors.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
