<div>
  <h2 id="page-heading" data-cy="InvestorPortfolioHeading">
    <span jhiTranslate="microApp.investorPortfolio.home.title">Investor Portfolios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microApp.investorPortfolio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-investor-portfolio"
        [routerLink]="['/investor-portfolio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microApp.investorPortfolio.home.createLabel"> Create a new Investor Portfolio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="investorPortfolios?.length === 0">
    <span jhiTranslate="microApp.investorPortfolio.home.notFound">No investorPortfolios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="investorPortfolios && investorPortfolios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="microApp.investorPortfolio.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="units">
            <span jhiTranslate="microApp.investorPortfolio.units">Units</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentUnitPrice">
            <span jhiTranslate="microApp.investorPortfolio.currentUnitPrice">Current Unit Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="balance">
            <span jhiTranslate="microApp.investorPortfolio.balance">Balance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentInvestedAmount">
            <span jhiTranslate="microApp.investorPortfolio.currentInvestedAmount">Current Invested Amount</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="microApp.investorPortfolio.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedOn">
            <span jhiTranslate="microApp.investorPortfolio.updatedOn">Updated On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investorPortfolio of investorPortfolios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/investor-portfolio', investorPortfolio.id, 'view']">{{ investorPortfolio.id }}</a>
          </td>
          <td>{{ investorPortfolio.units }}</td>
          <td>{{ investorPortfolio.currentUnitPrice }}</td>
          <td>{{ investorPortfolio.balance }}</td>
          <td>{{ investorPortfolio.currentInvestedAmount }}</td>
          <td>{{ investorPortfolio.createdOn | formatMediumDatetime }}</td>
          <td>{{ investorPortfolio.updatedOn | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/investor-portfolio', investorPortfolio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/investor-portfolio', investorPortfolio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(investorPortfolio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="investorPortfolios && investorPortfolios.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
