<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span jhiTranslate="microApp.transaction.detail.title">Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="microApp.transaction.id">Id</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'microApp.TRANSACTIONTYPE.' + transaction.type }}">{{ transaction.type }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.amount">Amount</span></dt>
        <dd>
          <span>{{ transaction.amount }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.units">Units</span></dt>
        <dd>
          <span>{{ transaction.units }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ transaction.unitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.createdOn">Created On</span></dt>
        <dd>
          <span>{{ transaction.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ transaction.updatedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.transaction.investor">Investor</span></dt>
        <dd>
          <div *ngIf="transaction.investor">
            <a [routerLink]="['/investor', transaction.investor?.id, 'view']">{{ transaction.investor?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
