<div>
  <h2 id="page-heading" data-cy="AssetDetailsAuditHeading">
    <span jhiTranslate="microApp.assetDetailsAudit.home.title">Asset Details Audits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="microApp.assetDetailsAudit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset-details-audit"
        [routerLink]="['/asset-details-audit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="microApp.assetDetailsAudit.home.createLabel"> Create a new Asset Details Audit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assetDetailsAudits?.length === 0">
    <span jhiTranslate="microApp.assetDetailsAudit.home.notFound">No assetDetailsAudits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assetDetailsAudits && assetDetailsAudits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="microApp.assetDetailsAudit.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="units">
            <span jhiTranslate="microApp.assetDetailsAudit.units">Units</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="unitPrice">
            <span jhiTranslate="microApp.assetDetailsAudit.unitPrice">Unit Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="balance">
            <span jhiTranslate="microApp.assetDetailsAudit.balance">Balance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentInvestedAmount">
            <span jhiTranslate="microApp.assetDetailsAudit.currentInvestedAmount">Current Invested Amount</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profitLoss">
            <span jhiTranslate="microApp.assetDetailsAudit.profitLoss">Profit Loss</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="microApp.assetDetailsAudit.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedOn">
            <span jhiTranslate="microApp.assetDetailsAudit.updatedOn">Updated On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetDetailsAudit of assetDetailsAudits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asset-details-audit', assetDetailsAudit.id, 'view']">{{ assetDetailsAudit.id }}</a>
          </td>
          <td>{{ assetDetailsAudit.units }}</td>
          <td>{{ assetDetailsAudit.unitPrice }}</td>
          <td>{{ assetDetailsAudit.balance }}</td>
          <td>{{ assetDetailsAudit.currentInvestedAmount }}</td>
          <td>{{ assetDetailsAudit.profitLoss }}</td>
          <td>{{ assetDetailsAudit.createdOn | formatMediumDatetime }}</td>
          <td>{{ assetDetailsAudit.updatedOn | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asset-details-audit', assetDetailsAudit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asset-details-audit', assetDetailsAudit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(assetDetailsAudit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assetDetailsAudits && assetDetailsAudits.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
