<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="assetDetailsAudit">
      <h2 data-cy="assetDetailsAuditDetailsHeading">
        <span jhiTranslate="microApp.assetDetailsAudit.detail.title">Asset Details Audit</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="microApp.assetDetailsAudit.id">Id</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.id }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.units">Units</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.units }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.unitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.balance">Balance</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.balance }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.currentInvestedAmount">Current Invested Amount</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.currentInvestedAmount }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.profitLoss">Profit Loss</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.profitLoss }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.createdOn">Created On</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.assetDetailsAudit.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ assetDetailsAudit.updatedOn | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-details-audit', assetDetailsAudit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
