<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="investorPortfolio">
      <h2 data-cy="investorPortfolioDetailsHeading">
        <span jhiTranslate="microApp.investorPortfolio.detail.title">Investor Portfolio</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="microApp.investorPortfolio.id">Id</span></dt>
        <dd>
          <span>{{ investorPortfolio.id }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.units">Units</span></dt>
        <dd>
          <span>{{ investorPortfolio.units }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.currentUnitPrice">Current Unit Price</span></dt>
        <dd>
          <span>{{ investorPortfolio.currentUnitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.balance">Balance</span></dt>
        <dd>
          <span>{{ investorPortfolio.balance }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.currentInvestedAmount">Current Invested Amount</span></dt>
        <dd>
          <span>{{ investorPortfolio.currentInvestedAmount }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.createdOn">Created On</span></dt>
        <dd>
          <span>{{ investorPortfolio.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="microApp.investorPortfolio.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ investorPortfolio.updatedOn | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/investor-portfolio', investorPortfolio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
